
.ui-icon-record:after{
    background-image:url(../img/record.png);
    background-size: 18px 18px;
    background-color: white;
    }
.ui-icon-file_transfer:after{
    background-image:url(../img/file_transfer.png);
    background-size: 18px 18px;
    background-color: white;
}
.ui-icon-setting:after{
    background-image:url(../img/setting.png);
    background-size: 18px 18px;
    background-color: white;
}


